
body {
    background: #8fc48f;
  }
  .corpo-calc {
    margin-top: 50px;
    
      width: 500px;
      height: 600px;
      padding: 15px;  
      border-radius: 10px;
      box-shadow: 4px 4px rgb(143, 138, 138);  
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-auto-rows: 1fr;
      grid-gap: 15px;
    background: rgb(20, 156, 65);
  }
  .corpo-calc input {
      font-size: 40px;
  }
  .visor {
      grid-column: 1/-1; 
      grid-row: span 2;
      background: rgba(221, 221, 221, .5);
  
  }
  .btn-span {
      grid-row: span 2;
  }